@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #2d2f44;
  font-family: "Varela Round", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
